html, body{
    margin:0;
    padding:0;
    font-family: ui-monospace, monospace;
    background-color: #222222;
    color: #FAF3E1;
}

body a{
    color: #FF6D1F;
    font-size:20px;
}


.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0;
}

.logo h1{
    font-size:100px;
    margin: 0;
}

.logo img{
    height: 200px;
}